@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-bar {
  background-color: rgba(0, 0, 0, 0.801);
}
.menu-bar .navbar .navbar-brand img {
  width: 50%;
}
.menu-bar .navbar .navbar-nav .nav-link {
  font-family: "Baskervville", serif;
  background-color: gray;
  text-align: center;
  color: white;
  border-radius: 20%;
}
.menu-bar .navbar .navbar-nav .nav-link:hover {
  background-color: red;
}
.menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  background-color: gray;
  font-family: "Baskervville", serif;
  border-radius: 20%;
}
.menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item {
  color: white;
  text-align: center;
}
.menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item:hover {
  background-color: red;
  border-radius: 20%;
}

main {
  /***********************Background de todas las páginas********************************************/
  background-image: linear-gradient(yellow, rgba(0, 0, 0, 0.411));
  min-height: 100vh;
  /***********************************************************************************************/
  /***********************MAIN de la pagina Index********************************************/
}
main .tituloCobra {
  display: flex;
  justify-content: center;
}
main .container {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "cobraKaidojo danielJohnny";
}
main .container .cobraKaidojo {
  width: 95%;
  margin-bottom: 50px;
}
main .container .cobraKaidojo img {
  width: 100%;
}
main .container .cobraKaidojo img:hover {
  opacity: 0.5;
  cursor: pointer;
  border: solid black 3px;
}
main .container .danielJohnny {
  width: 95%;
  margin-bottom: 50px;
}
main .container .danielJohnny img {
  width: 100%;
}
main .container .danielJohnny img:hover {
  opacity: 0.5;
  cursor: pointer;
  border: solid black 3px;
}
main .tituloClips {
  display: flex;
  justify-content: center;
}
main .containerClips {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "clipstheKarateKid clipsCobraKai";
}
main .containerClips .clipstheKarateKid {
  width: 95%;
  margin-bottom: 50px;
}
main .containerClips .clipstheKarateKid iframe {
  width: 100%;
  height: 320px;
}
main .containerClips .clipsCobraKai {
  width: 95%;
  margin-bottom: 50px;
}
main .containerClips .clipsCobraKai iframe {
  width: 100%;
  height: 320px;
}

.text-center {
  background-image: radial-gradient(red, yellow);
  color: white;
  font-weight: bold;
}
.text-center span {
  color: white;
  font-weight: bold;
}
.text-center i {
  color: white;
}

/*************************************************************************************************/
/***********************MAIN de la pagina cobrakai************************************************/
/*#ventanaPrincipal {


    .cobra {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 80%;

        img {
            width: 40%;
            position: relative;
            left: 42%;
        }

    }

    .card {
        width: 500px;
        background-color: green;
        margin: 100px auto 30px auto;
        border-radius: 6px;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 50px;
        margin-bottom: 0px;
    }

}/*

/*********************************************************************************************/
/*****************************************Main de la pagina karate kid************************/
.ventanaPrincipal {
  min-height: 100vh;
  height: auto;
}
.ventanaPrincipal .posterKarateKid {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 80%;
}
.ventanaPrincipal .posterKarateKid .idImagen {
  width: 80%;
  position: relative;
  left: 31%;
}
.ventanaPrincipal #opciones {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ventanaPrincipal #ingresoNombre .form-label {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.ventanaPrincipal #ingresoNombre #textoNombre {
  background-color: rgb(236, 159, 159);
}
.ventanaPrincipal #panel {
  display: flex;
  justify-content: center;
}
.ventanaPrincipal #divPuntaje {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 500px;
  text-align: center;
  align-items: center;
  margin: 100px auto 30px auto;
  font-size: 1.2rem;
  font-family: ui-monospace;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  bottom: 50px;
}
.ventanaPrincipal #divPuntaje #puntajeTotal {
  font-size: 2rem;
}
.ventanaPrincipal #divPuntaje .botonPuntaje {
  width: 150px;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 15px;
  position: relative;
}
.ventanaPrincipal .colorBoton {
  width: 150px;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 15px;
  position: relative;
}
.ventanaPrincipal .form-label {
  display: flex;
  justify-content: center;
}
.ventanaPrincipal .form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25%;
  width: 50%;
  margin-bottom: 3%;
}
.ventanaPrincipal #tableroPuntaje {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ventanaPrincipal #tableroPuntaje #puntajesTabla thead tr {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
.ventanaPrincipal #tableroPuntaje #puntajesTabla thead tr #headerPuntaje {
  cursor: pointer;
}
.ventanaPrincipal #tableroPuntaje #puntajesTabla tbody {
  text-align: center;
}
.ventanaPrincipal #tableroPuntaje #puntajesTabla tbody tr {
  font-weight: bold;
}
.ventanaPrincipal #tableroPuntaje #puntajesTabla tbody tr:hover {
  background-color: lightcoral;
}
.ventanaPrincipal .contenedorOpciones {
  display: flex;
  justify-content: center;
}
.ventanaPrincipal #contenedorIdioma {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ventanaPrincipal .card {
  width: 500px;
  background-color: #fff;
  margin: 100px auto 30px auto;
  border-radius: 6px;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 50px;
  margin-bottom: 0px;
}

/*# sourceMappingURL=estilos.css.map */
