* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-bar {
    background-color: rgba(0, 0, 0, 0.801);

    .navbar {
        .navbar-brand img {
            width: 50%;
        }

        .navbar-nav {
            .nav-link {
                font-family: 'Baskervville', serif;
                background-color: gray;
                text-align: center;
                color: white;
                border-radius: 20%;

                &:hover {
                    background-color: red;
                }
            }

            .dropdown {
                &:hover {
                    .dropdown-menu {
                        display: block;
                        background-color: gray;
                        font-family: 'Baskervville', serif;
                        border-radius: 20%;

                        .dropdown-item {
                            color: white;
                            text-align: center;

                            &:hover {
                                background-color: red;
                                border-radius: 20%;
                            }
                        }
                    }

                }
            }
        }
    }
}

main {
    /***********************Background de todas las páginas********************************************/

    background-image: linear-gradient(yellow, rgba(0, 0, 0, 0.411));

    /***********************************************************************************************/
    /***********************MAIN de la pagina Index********************************************/
    .tituloCobra {
        display: flex;
        justify-content: center;
    }

    .container {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "cobraKaidojo danielJohnny";

        .cobraKaidojo {
            width: 95%;
            margin-bottom: 50px;

            img {
                width: 100%;

                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                    border: solid black 3px;
                }
            }
        }

        .danielJohnny {
            width: 95%;
            margin-bottom: 50px;

            img {
                width: 100%;

                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                    border: solid black 3px;
                }
            }
        }


    }

    .tituloClips {
        display: flex;
        justify-content: center;
    }

    .containerClips {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "clipstheKarateKid clipsCobraKai";

        .clipstheKarateKid {
            width: 95%;
            margin-bottom: 50px;

            iframe {
                width: 100%;
                height: 320px;
            }
        }

        .clipsCobraKai {
            width: 95%;
            margin-bottom: 50px;

            iframe {
                width: 100%;
                height: 320px;
            }
        }
    }
}

.text-center {
    background-image: radial-gradient(red, yellow);
    color: white;
    font-weight: bold;

    span {
        color: white;
        font-weight: bold;
    }

    i {
        color: white;
    }
}

/*************************************************************************************************/
/***********************MAIN de la pagina cobrakai************************************************/
#ventanaPrincipal {
    height: 342px;

    .cobra {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 80%;

        img {
            width: 40%;
            position: relative;
            left: 42%;
        }

    }

    .card {
        width: 500px;
        background-color: green;
        margin: 100px auto 30px auto;
        border-radius: 6px;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 50px;
        margin-bottom: 0px;
    }

}

/*********************************************************************************************/
/*****************************************Main de la pagina karate kid************************/
#ventanaPrincipal {
    .posterKarateKid {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 80%;

        img {
            width: 80%;
            position: relative;
            left: 38%;
        }

    }

    #opciones {
        display: flex;
        justify-content: center;
    }

    #panel {
        display: flex;
        justify-content: center;
    }

    #divPuntaje {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        width: 500px;
        text-align: center;
        align-items: center;
        margin: 100px auto 30px auto;
        font-size: 1.2rem;
        font-family: ui-monospace;
        border-radius: 6px;
        padding: 20px;
        position: relative;
        bottom: 50px;
        #puntajeTotal{
            font-size: 2rem;
        }
        .botonPuntaje{
            width: 150px;
            color: #fff;
            background-color: lightseagreen;
            border-radius: 15px;
            position: relative;
        }

    }

    .colorBoton {
        width: 150px;
        color: #fff;
        background-color: lightseagreen;
        border-radius: 15px;
        position: relative;

    }

    .form-label {
        display: flex;
        justify-content: center;
    }

    .form-control {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 25%;
        width: 50%;
        margin-bottom: 3%;
    }

    .contenedorOpciones {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 500px;
        background-color: #fff;
        margin: 100px auto 30px auto;
        border-radius: 6px;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 50px;
        margin-bottom: 0px;

    }

}